
@model Knjizara.ViewModels.KnjigaZanrViewModel
@{
    Layout = "_Layout";
}
<div>
    <h1>Knjizara - Naslovna strana</h1>
    <hr>
    <form action='/Knjizara/Dodaj' method='post' onsubmit="return knjigaValidacija();">
        <table class="table">
            <tr>
                <th colspan='2'>Dodaj novu knjigu</th>
            </tr>
            <tr>
                <td>Naziv:</td>
                <td>
                    <input id="naziv" class="form-control" type='text' name='Knjiga.Naziv' value="@Model.Knjiga.Naziv">
                    @if (TempData["Poruka"] != null)
                    {
                        <p class="poruka">@TempData["Poruka"]</p>
                    }
                    <p class="poruka"><span id="NazivGreska"></span>@Html.ValidationMessageFor(m => m.Knjiga.Naziv)</p>
                </td>
            </tr>
            <tr>
                <td>Cena:</td>
                <td>
                    <input id="cena" class="form-control" type='number' name='Knjiga.Cena' min='0' step='0.01' value="0">
                    <p class="poruka"><span id="CenaGreska"></span>@Html.ValidationMessageFor(m => m.Knjiga.Cena)</p>
                </td>
                
            </tr>
            <tr>
                <td>Zanr:</td>
                <td>
                    <select class="form-select" name='idZanra'>
                        @foreach (ZanrModel z in Model.Zanrovi)
                        {
                            <option value="@z.Id">@z.NazivZanra</option>
                        }
                    </select>
                </td>
            </tr>
            <tr style='text-align: center;'>
                <td colspan='2'><input type='submit' name='Dodaj' value='Dodaj' class="btn btn-success"></td>
            </tr>
        </table>
    </form>
</div>
<script src="~/js/clientvalidation.js"></script>