
@{
    Layout = "_Layout";
}
@model Knjizara.ViewModels.KnjigaZanrViewModel
@Html.ValidationSummary()
<form action="/Knjizara/Izmeni" method="post" onsubmit="return knjigaValidacija()">
    <input id="Knjiga_Id" name="Knjiga.Id" type="hidden" value="@Model.Knjiga.Id">
    <table class="table">
        <tr>
            <th>Naziv:</th>
            <td>
                <input id="naziv" class="form-control" name="Knjiga.Naziv" value="@Model.Knjiga.Naziv" />
                @if (TempData["Poruka"] != null)
                {
                    <p class="poruka">@TempData["Poruka"]</p>
                }
                <p class="poruka"><span id="NazivGreska"></span>@Html.ValidationMessageFor(m => m.Knjiga.Naziv)</p>
            </td>
        </tr>
        <tr>
            <th>Cena:</th>
            <td>
                <input id="cena" class="form-control" name="Knjiga.Cena" value="@Model.Knjiga.Cena" />
                <p class="poruka"><span id="CenaGreska"></span>@Html.ValidationMessageFor(m => m.Knjiga.Cena)</p>
            </td>
        </tr>
        <tr>
            <th>Zanr:</th>
            <td>
                <select class="form-control" name="knjiga.Zanr.Id">
                    @foreach (var zanr in Model.Zanrovi)
                    {
                        if (Model.Knjiga.Zanr.Id == zanr.Id)
                        {
                            <option value="@zanr.Id" selected>@zanr.NazivZanra</option>
                        }
                        else
                        {
                            <option value="@zanr.Id">@zanr.NazivZanra</option>
                        }

                    }
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2"><input class="form-control" type="submit" value="Izmeni" /><br /><br /></td>
        </tr>
    </table>
</form>
<div class='mt-4 btn btn-primary'><a class="nedekorisan" href='/Knjizara/Index'>Pocetna stranica</a></div>
<script src="~/js/clientvalidation.js"></script>
